{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "browser": true
    },
    "globals": {
        "React": true,
        "ReactDOM": true
    }
}
